*.obj
*.estat
*.exe
*.log
*.build
*.make
*.list
*.err
*.bak
*.zip
*.ini
vsvars32.bat
ArcaboucoTeste.lib
!arcaboucoteste_2_02/ferramnt
!GMake.exe
!exbestat.exe
!compilebanner.exe
!TRAB1-1.EXE
!TRAB1-2.EXE
!T1/TRAB1-1/lib/ArcaboucoTeste.lib
!T1/TRAB1-2/lib/ArcaboucoTeste.lib
